# to be pasted in sudo cp 89-pulseaudio-udev.rules /etc/udev/rules.d/
# reload rules : sudo udevadm control --reload-rules && sudo  udevadm trigger
# udevadm info -a -p /sys/class/sound/card11
ATTR{id}=="dummy", ENV{PULSE_IGNORE}="1",ENV{ACP_IGNORE}="1"
ATTR{id}=="loop", ENV{PULSE_IGNORE}="1"
ATTR{id}=="C920", ENV{ACP_IGNORE}="1"
ATTRS{interface}=="Scarlett 2i2 USB"

# ATTR{id}=="dummy", ATTR{number}=="11",SUBSYSTEM=="sound", ENV{PULSE_IGNORE}="1"
# ATTR{id}=="loop", ATTR{number}=="10",SUBSYSTEM=="sound", ENV{PULSE_IGNORE}="1"
# ATTR{id}=="C920", SUBSYSTEM=="sound", ENV{PULSE_IGNORE}="1"
